section {
  padding: 80px 20px;
  text-align: center;
}

section h2 {
  font-size: 2rem;
  color: #7B542F;
  margin-bottom: 20px;
  border-bottom: 3px solid #B6771D;
  display: inline-block;
  padding-bottom: 5px;
}
